@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 169, 169, 169;
  --background-rgb: 44, 44, 44;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 211, 211, 211;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
